In [1]:
import pandas as pd
import numpy as np
from splinter import Browser
from bs4 import BeautifulSoup

In [34]:
may = 'https://flights.msn.com/en-us/flight-search#/result?originplace=LAX&destinationplace=KIX&outbounddate=2019-05-01&inbounddate=&cabinclass=Economy&adults=1&children=0&infants=0'
!which chromedriver
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit(may)

/usr/local/bin/chromedriver

In [35]:
may = []
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
grab_div = soup.find('ul', class_='chart-content')
list_item = grab_div.find_all('li')
for item in list_item:
    may.append(item['title'])
pd.DataFrame(may)

                                                    0
0   Depart: 20 Apr 2019\nWe don't know the price b...
1                           Depart: 21 Apr 2019\n$678
2                           Depart: 22 Apr 2019\n$364
3                           Depart: 23 Apr 2019\n$362
4                           Depart: 24 Apr 2019\n$305
5                           Depart: 25 Apr 2019\n$305
6                           Depart: 26 Apr 2019\n$421
7                           Depart: 27 Apr 2019\n$420
8                           Depart: 28 Apr 2019\n$365
9                           Depart: 29 Apr 2019\n$307
10                          Depart: 30 Apr 2019\n$363
11                           Depart: 1 May 2019\n$305
12                           Depart: 2 May 2019\n$370
13                           Depart: 3 May 2019\n$504
14                           Depart: 4 May 2019\n$524
15                           Depart: 5 May 2019\n$354
16                           Depart: 6 May 2019\n$364
17  Depart: 7 May 2019\nWe don't know the price be...
18                           Depart: 8 May 2019\n$312
19                           Depart: 9 May 2019\n$305
20                          Depart: 10 May 2019\n$363
21                          Depart: 11 May 2019\n$422
22                          Depart: 12 May 2019\n$413